.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;  /*aqui a gente define apenas 14px de tamanho de fonte, oq faz todos os elementos diminuirem no mobile, visto que utilizamos a unidade de medida rem que é relativa ao tamanho da fonte*/      
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}